


<div class="row header">
			<div class="col-md-12">
				<h3 class="logo">
					<a href="<%= root_path %>">Speckless</a>
				</h3>
				<!--<h4>Sign in to your account.</h4>-->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">

								<%= render partial: "partials/alerts" %>

									
								<%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:role => "form"}) do |f| %>
							  		<div class="form-group">
							    		<label for="email">Email address</label>
							    		 <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
							  		</div>
							  		<div class="form-group">
							    		<label for="password">Password</label>
							    		<%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
							  		</div>

							  		<% if devise_mapping.rememberable? -%>
									    <div class="checkbox">
									    	<label><%= f.check_box :remember_me %> Remember me</label>
									    </div>
									<% end -%>


							  		<div class="submit">

							  		  <%= f.submit "Sign in to my account", :class=>"button" %>
							  			
							  		</div>
								<% end -%>
							</div>
						</div>						
					</div>
				</div>
				<div class="already-account">
					Don't have an account?
					<%= render "user/shared/links" %>
				</div>

				

			</div>
		</div>