


<div class="row header">
			<div class="col-md-12">
				<h3 class="logo">
					<a href="<%= root_path %>">Speckless</a>
				</h3>
				<h4>Set up your new account today.</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">

										<%= devise_error_messages! %>						

									
								<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:role => "form"}) do |f| %>
							  		<div class="form-group">
							    		<label for="email">First Name</label>
							    		 <%= f.text_field :first_name, :autofocus=> true, :required=> true,:class=>"form-control" %>
							  		</div>

							  		<div class="form-group">
							    		<label for="email">Last Name</label>
							    		 <%= f.text_field :last_name, :required=> true, :class=>"form-control" %>
							  		</div>

							  		<div class="form-group">
							    		<label for="email">Email address</label>
							    		 <%= f.email_field :email, :required=> true, :class=>"form-control" %>
							  		</div>

							  		<div class="form-group">
							    		<label for="email">Mobile number</label>
							    		 <%= f.number_field :mobile, :required=> true, :class=>"form-control", :placeholder => "2348012345678" %>
							  		</div>

							  		<div class="form-group">
							    		<label for="password">Password</label>
							    		<%= f.password_field :password, :required=> true, autocomplete: "off", :class=>"form-control" %>
							  		</div>
							  		<div class="form-group">
							    		<label for="password">Confirm Password</label>
							    		<%= f.password_field :password_confirmation, :required=> true, autocomplete: "off", :class=>"form-control" %>
							  		</div>

							  		
									<div class="checkbox">
									    <label><%= f.check_box :terms, :required=> true %> You have read & agree to the 
							      		<a href="#">Terms of service</a>.</label>
									</div>
									


							  		<div class="submit">

							  		  <%= f.submit "Create my account", :class=>"button" %>
							  			
							  		</div>
								<% end -%>
							</div>
						</div>						
					</div>
				</div>
				<div class="already-account">
					Already have an account?
					<%= render "user/shared/links" %>
				</div>

				

			</div>
		</div>
