<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<title>Speckless</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />


  

	<!-- stylesheets -->
     <%= stylesheet_link_tag    "compiled/theme", :media => "all" %>
	<!-- javascript -->
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "bootstrap/bootstrap.min" %>
	<%= javascript_include_tag "theme" %>

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="signup">
	<div class="container">
		
		<%= yield %>
		
	</div>
</body>


</html>